[submodule "submodules/quickstart-aws-eks"]
	path = submodules/quickstart-aws-eks
	url = git@github.com:aws-quickstart/quickstart-aws-eks.git
[submodule "submodules/quickstart-aws-vpc"]
	path = submodules/quickstart-aws-vpc
	url = git@github.com:aws-quickstart/quickstart-aws-vpc.git
